<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Prediction</title>
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark shadow fixed-top" style="background-color: rgb(41, 85, 121);">
    <div class="container">
        <a class="navbar-brand" href="#home">TIM 05 ITS-O5</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<section class="jumbotron text-center " id="home">
    <p class="lead">Didukung oleh</p>
    <img src="../static/asset/1.png" alt="Ilustration" width="200" class="rounded img-thumbnail ">
    <img src="../static/asset/kampus-merdeka.png" alt="Ilustration" width="200" class="rounded img-thumbnail ">
    <img src="./static/asset//2.png" alt="Ilustration" width="200" class="rounded img-thumbnail ">
    <h1 class="display-4">Prediksi Pencemaran Udara di Jakarta</h1>
    <p class="lead">Tugas Akhir Microcredential Associate Data Science</p>
</section>

<div class="row justify-content-center">
    <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../static/visual/co.png" alt="Card image cap">
    </div>
    <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../static/visual/no2.png" alt="Card image cap">
    </div>
    <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../static/visual/o3.png" alt="Card image cap">
    </div>
    <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../static/visual/pm10.png" alt="Card image cap">
    </div>
    <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../static/visual/so2.png" alt="Card image cap">
    </div>
</div>


<div class="container mb-5 " id="about" >
    <div class="text-center mb-3 mt-3"><span >About Us</span>
        <h3>Our Team</h3>
    </div>
    <div class="row g-2 text-center">
        <div class="col-md-4">
            <div class="card"><img src="" class="img-fluid rounded">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info info-yellow">
                        <span class="user-icons">
                        <img src="../static/asset/icon.png" width="30"></span>
                        <div class="user-profile d-flex flex-row">
                            <div class="d-flex flex-column mr-4"><span class="name">Antonius Bun Wijaya</span>
                                <small class="designation">19340013</small>
                                <small class="designation">Universitas Katolik Darma Cendika</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"><img src="" class="img-fluid rounded">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info info-green"><span class="user-icons">
                        <img src="../static/asset/icon.png" width="30"></span>
                        <div class="user-profile d-flex flex-row">
                            <div class="d-flex flex-column mr-3"><span class="name">Linggar Handy Swandana</span>
                                <small class="designation">2311840000082</small>
                                <small class="designation">Institut Teknologi Sepuluh November</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="card"><img src="" class="img-fluid rounded">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="info info-green"><span class="user-icons">
                        <img src="../static/asset/icon.png" width="30"></span>
                        <div class="user-profile d-flex flex-row">
                            <div class="d-flex flex-column mr-3"><span class="name">Sarah Anggina</span>
                                <small class="designation">185150401111037</small>
                                <small class="designation">Universitas Brawijaya</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">

</script>
</body>
</html>
